{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{# {% for row in rows %}
	<div class="front issue-container">
		{{- row.content -}}
		<a href="/issues/{{row.content['#row']._entity.field_issue_short_title[0].value}}">
			<div class="issue-wrapper">
				<h2 class="volume-number">
					<span>No.{{row.content['#row']._entity.field_issue_volume_number[0].value}}</span>
				</h2>
				<h1 class="title">{{row.content['#row']._entity.title[0].value}}</h1>
				<div class="summary">{{row.content['#row']._entity.field_issue_precis[0].value|raw}}</div>
				<div class="link">
					<p>
						Read now
					</p>
				</div>
			</div>
		</a>
	</div>
{% endfor %} #}
