{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

{% for row in rows %}
  {%
    set row_classes = [
      'marquee-wrapper'
    ]
  %}

  <section{{row.attributes.addClass(row_classes)}}>
    <div class="marquee-image-wrapper">
      {{- row.content -}}
    </div>

    <div class="marquee-title-wrapper">

      <div class="volume">
        <span>SA
          {{row.content['#row']._entity.field_issue_volume_number[0].value}}</span>
      </div>
      <h1 class="title">
        <a href="$">{{row.content['#row']._entity.title[0].value}}</a>
      </title>
    </div>
  </section>
{% endfor %}
