{#
/**
 * @file
 * Theme override for page wrapper.
 *
 * For consistent wrapping to {{ page }} render in all themes. The
 * "data-off-canvas-main-canvas" attribute is required by the off-canvas dialog.
 * This is used by the core/drupal.dialog.off_canvas library to select the
 * "main canvas" page element as opposed to the "off canvas" which is the dialog
 * itself. The "main canvas" element must be resized according to the width of
 * the "off canvas" dialog so that no portion of the "main canvas" is obstructed
 * by the off-canvas dialog. The off-canvas dialog can vary in width when opened
 * and can be resized by the user. The "data-off-canvas-main-canvas" attribute
 * cannot be removed without breaking the off-canvas dialog functionality.
 *
 * Available variables:
 * - children: Contains the child elements of the page.
 */
#}
{% if children %}
<div tabindex="-1" class="dialog-off-canvas-main-canvas" aria-hidden="true">
  <div tabindex="-1" data-micromodal-close>
    {{ children }}
  </div>
  <div class="overlay">
    <div class="overlay-main-menu-wrapper">
      <div class="overlay-main-menu">
        {{ drupal_menu('main') }}
      </div>
    </div>
    <div class="overlay-issues-wrapper">
      <div class="overlay-issues">
        <h2>Issues</h2>
        {{ drupal_view('modal_menu', 'issues_list') }}
      </div>
    </div>
    <div class="overlay-footer-menu-wrapper">
      <div class="overlay-footer-menu">
        {{ drupal_menu('footer')}}
      </div>
      <div class="overlay-social-menu">
        {{ drupal_menu('social') }}
      </div>
    </div>

  </div>
  {% endif %}
